{% extends 'base.html.twig' %}

{% block title %}MHA Universe : Not found{% endblock %}


{% block content %}
    <main>
        <h1 id="notFoundTitle">違います - please go back <a href="../index">Home</a></h1>
        <img src="/assets/picture/404.png" alt="Not found">
    </main>
{% endblock %}